@page
@model Shop.Pages.Employee.Customers.DeleteModel

@{
    ViewData["Title"] = "Delete";

    Layout = "LayoutEmployee";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CustomerAccount</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAccount.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAccount.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAccount.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAccount.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAccount.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAccount.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAccount.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAccount.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAccount.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAccount.BirthDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CustomerAccount.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
