@page
@model Shop.Pages.Employee.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";

    Layout = "LayoutEmployee";
}

<h1>Details</h1>

<div>
    <h4>CustomerAccount</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAccount.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAccount.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAccount.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAccount.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAccount.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAccount.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAccount.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAccount.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAccount.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAccount.BirthDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CustomerAccount?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
