@page "{CustId:int},{ItemId:int}"
@model Shop.Pages.Customer.Cart.ErrorCartModel

@{
    ViewData["Title"] = "ErrorCart";

    Layout = "LayoutCustomer";
    ViewData["CustId"] = Model.CustId;
}

<h1>ErrorCart</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Item.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Item.Name)
        </dd>
        <div>
            <img src="~/images/@Model.Info.Item.ImageSource"></img>
        </div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Item.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Item.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Item.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Item.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info.Item.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Item.Price)
        </dd>
        <dt class="col-sm-2">
            Amount in Stock
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Item.Amount)
        </dd>
        <dt class="col-sm-2">
            Amount in Cart
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info.Cart.Amount)
        </dd>
    </dl>
</div>

<p>
    There aren't enough items in stock to fulfill your order. Our apologies. 
</p>

<div>
    <a asp-page="./Index" asp-route-CustId="@Model.CustId">Back to Cart</a>
</div>
