@page "{CustId:int},{ItemId:int}"
@model Shop.Pages.Customer.Purchases.DetailsPurchaseModel

@{
    ViewData["Title"] = "DetailsPurchase";

    Layout = "LayoutCustomer";
    ViewData["CustId"] = Model.CustId;
}

<h1>DetailsPurchase</h1>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.Item.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.Item.Name)
        </dd>
        <div>
            <img src="~/images/@Model.Purchase.Item.ImageSource" width="150" height="150"/>
        </div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.Item.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.Item.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.Item.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.Item.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.Item.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.Item.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.Purchase.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.Purchase.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.Purchase.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.Purchase.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index" asp-route-CustId="@Model.CustId">Back to Purchase History</a>
</div>
